src/main/mule/ftp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="e204c030-37c9-4f30-8a70-8eaa2138205f" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="nilambpatil1611@gmail.com" password="elegkwlztbmsvybv" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8c8778ed-cf43-4a84-9a00-7ab014f33725" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="ftpFlow" doc:id="85136691-d05a-4af1-8d77-70f20bdaa7f5" >
		<http:listener doc:name="Listener" doc:id="7a39c08a-d90a-445c-be20-ad01221a9189" config-ref="HTTP_Listener_config" path="/email"/>
		<email:send doc:name="Send" doc:id="3814804a-0348-4066-a866-399c7402fdbc" fromAddress="nilambpatil1611@gmail.com" config-ref="Email_SMTP">
			<email:to-addresses >
				<email:to-address value="nilambpatil1611@gmail.com" />
				<email:to-address value="thenilampatil16@gmail.com" />
			</email:to-addresses>
			<email:body contentType="text/html" >
				<email:content ><![CDATA[#["<h1> hello </h1>"]]]></email:content>
			</email:body>
		</email:send>
	</flow>
</mule>
